In [ ]:
# Load and mount the Drive helper
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
tasks = {
    "bin": {
        "exp": "lr-2e-05-optimizer-Adafactor-epoch-10"
    },
    "multi-label": {
        "exp": "lr-2e-05-optimizer-AdamW-epochs-10-RMSEduringTraining"
    },
    "reg": {
        "exp": "lr-2e-05-optimizer-AdamW-epochs-10-RMSEduringTraining"
    }
}

In [ ]:
import os
import pandas as pd
PATH = "/content/drive/My Drive/HUHU-IberLEF2023/"

for task, content in tasks.items():
  current_path = os.path.join(PATH, task, "outputs", content.get("exp"))
  tasks[task]["test"] = pd.read_csv(os.path.join(current_path, "test", "results.csv"))

In [ ]:
tasks["bin"]["test"].head()

   tweet_id  humour
0     52830       1
1     78883       1
2     78926       0
3     61844       1
4     78830       1

In [ ]:
tasks["multi-label"]["test"].head()

,tweet_id,prejudice_group1,prejudice_group2,prejudice_group3,prejudice_group4
0,52830,0,0,0,1
1,78883,0,0,1,0
2,78926,1,0,0,0
3,61844,0,0,0,1
4,78830,1,0,0,0

In [ ]:
tasks["reg"]["test"].head()

   tweet_id  prejudice_degree
0     52830               3.1
1     78883               3.9
2     78926               2.9
3     61844               2.2
4     78830               3.4

In [ ]:
predictions = pd.merge(tasks["bin"]["test"], tasks["multi-label"]["test"], on="tweet_id")
predictions = pd.merge(predictions, tasks["reg"]["test"], on="tweet_id")

print("Predictions dataset size:", len(predictions.index))
predictions.head()

Predictions dataset size: 778

,tweet_id,humour,prejudice_group1,prejudice_group2,prejudice_group3,prejudice_group4,prejudice_degree
0,52830,1,0,0,0,1,3.1
1,78883,1,0,0,1,0,3.9
2,78926,0,1,0,0,0,2.9
3,61844,1,0,0,0,1,2.2
4,78830,1,1,0,0,0,3.4

In [ ]:
# Save results in CSV file
predictions.to_csv(os.path.join(PATH, "HUHUNLP_Submission2.csv"), index=False)